.spark-output {
  font-size: 12px;
}

.spark-status {
  color: #787878;
}

.spark-success {
  color: #64dc64;
}

.spark-error {
  color: #dc6464;
}

body {
  background-color: #323232;
}

#main {
  padding-top: 60px;
  background-color: white;
}

.jumbotron {
  background-color: #787878;
  color: white;
}

.jumbotron input {
  color: #323232;
}

ol.linenums {
  margin-left: 0px !important;
  padding-left: 40px !important;
}
