$lightgray: rgb(200,200,200);
$gray: rgb(120,120,120);
$darkgray: rgb(50,50,50);
$success: rgb(100,220,100);
$error : rgb(220,100,100);

.spark-output {
  font-size: 12px;
}

.spark-status {
  color: $gray;
}

.spark-success {
  color: $success;
}

.spark-error {
  color: $error;
}

body {
  background-color: $darkgray;
}

#main {
  padding-top: 60px;
  background-color: white;
}

.jumbotron {
  background-color: $gray;
  color: white;
}

.jumbotron input{
  color: $darkgray;
}

ol.linenums {
	margin-left: 0px !important;
	padding-left: 40px !important;
}